@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

#offcanvasNavbar,
#offcanvasNavbar:focus,
#offcanvasNavbar:active {
  border: 0 none !important;
  box-shadow: none;
}

.btn-trophy {
  border: 0 none !important;
  box-shadow: none;
  background-color: #34d399 !important;
}

.nav-title {
  color: #34d399 !important;
  font-family: "Raleway", sans-serif;
}

.tile {
  /* background-color: green !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms linear;
  border-radius: 20px !important;
}

.results {
  border-radius: 20px !important;
}

.form-control {
  border: none;
}

.contact {
  border: none !important;
  border-radius: 10px !important;
  /* font-family: "Roboto Mono", monospace; */
  padding: 10px;
  padding-left: 15px;
  border-radius: 20px;
  /* box-shadow: 5px 5px 0px #34d399 !important; */
}

.pass {
  color: #a3e635;
}

.fail {
  color: #ef4444;
}

.ml2-wrapper {
  text-align: center;
}

.ml2 {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-weight: 500;
  font-size: 1.4em;
}

.blank {
  text-align: justify;
}

#inputContainer {
  display: flex;
  flex-wrap: wrap;
}

.inputWrapper {
  border-bottom: solid #00816a !important;
  padding: 0;
  margin: 0;
}

.guessInput {
  padding: 0 !important;
  margin: 0 !important;
  outline: 0;
  background-color: antiquewhite !important;
}

.green {
  padding: 0 !important;
  margin: 0 !important;
  outline: 0;
  color: white;
  background-color: #a3e635 !important;
}

.red {
  padding: 0 !important;
  margin: 0 !important;
  outline: 0;
  color: white;
  background-color: #ef4444 !important;
}

/* .ml2 .letter {
  display: inline-block;
  line-height: 1em;
} */

.tile.flip {
  transform: rotateX(90deg);
}

.block {
  /* background-color: #34d399; */
  color: white;
}

.smalltext {
  padding-top: 5px;
  font-size: 0.7rem;
  color: #00816a;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 0.8rem;
}

#clockdiv div > span {
  padding: 5px;
  border-radius: 3px;
  background: #00816a;
}
