@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

#offcanvasNavbar,
#offcanvasNavbar:focus,
#offcanvasNavbar:active {
  border: 0 none !important;
  box-shadow: none;
}

.btn-trophy {
  border: 0 none !important;
  box-shadow: none;
  background-color: #34d399 !important;
}

.nav-title {
  color: #34d399 !important;
  font-family: "Raleway", sans-serif;
}

.tile {
  /* background-color: green !important; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  border: none;
}

.contact {
  border: none !important;
  border-radius: 10px !important;
  font-family: "Roboto Mono", monospace;
  padding: 10px;
  padding-left: 15px;
  border-radius: 20px;
  /* box-shadow: 5px 5px 0px #34d399 !important; */
}

.pass {
  color: #34d399;
}

.fail {
  color: red;
}
