@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  background-color: #1f2937 !important;
}
#offcanvasNavbar,
#offcanvasNavbar:focus,
#offcanvasNavbar:active {
  /* border: 0 none !important; */
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white !important;
}

.modal-text {
  color: #1f2937 !important;
}

.infoModal h4 {
  color: #1f2937 !important;
}
.infoModal p {
  color: #1f2937 !important;
}

.play {
  cursor: pointer;
  border: 0 none !important;
  box-shadow: none !important;
  background-color: #5de6de;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
  border-radius: 35px !important;
  transition: 200ms !important;
  font-weight: 700 !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.noplay {
  cursor: none !important;
  visibility: hidden;
  border: 0 none !important;
  box-shadow: none !important;
  background-color: #5de6de;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
  border-radius: 35px !important;
  transition: 200ms !important;
  font-weight: 700 !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.play:hover {
  background-image: linear-gradient(315deg, #60f8ee 0%, #dfaefb 74%);
  color: white;
}

.btn-trophy {
  border: 0 none !important;
  box-shadow: none !important;
  background-color: #34d399 !important;
}

.btn-info {
  border: 0 none !important;
  box-shadow: none !important;
  background: none !important;
}

svg:hover {
  cursor: pointer;
  border: 0 none !important;
  box-shadow: none !important;
  fill: #5de6de;
  animation-fill-mode: both !important;
  /* image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%); */

  transition: 200ms !important;
}

.nav-title {
  /* color: #34d399 !important; */
  color: white;
  font-family: "Raleway", sans-serif;
}

.tile {
  background-color: #1b2430 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms linear;
  border-radius: 20px !important;
}

.leaderboard-card {
  background-color: #1b2430 !important;
  color: white !important;
  border-radius: 50px !important;
}

.popup {
  background-color: #334155 !important;
  border-radius: 20px !important;
  color: white !important;
}

.results {
  background-color: #1b2430 !important;
  border-radius: 20px !important;
}

.sk-wander-cube,
.sk-plane {
  background-color: white !important;
}

.spinner-border {
  color: white !important;
}

.form-control {
  border: none;
}

.form-control .red {
  color: white !important;
}

.contact {
  border: none !important;
  border-radius: 10px !important;
  /* font-family: "Roboto Mono", monospace; */
  padding: 10px;
  padding-left: 15px;
  border-radius: 20px;
  /* box-shadow: 5px 5px 0px #34d399 !important; */
}

.pass {
  color: #5de6de;
}

.fail {
  color: #ef4444;
}

.ml2-wrapper {
  text-align: center;
}

.ml2 {
  font-family: "Poppins", sans-serif;
  /* text-align: justify; */
  font-weight: 500;
  font-size: 1.4em;
}

.blank {
  /* text-align: justify; */
  text-align: center;
}

.link {
  color: #b58ecc !important;
  text-decoration: none !important;
}

#inputContainer {
  display: flex;
  flex-wrap: wrap;
}

.inputWrapper {
  border-bottom: solid #5de6de !important;
  padding: 0;
  margin: 0;
}

.guessInput {
  padding: 0 !important;
  margin: 0 !important;
  outline: 0;
  background-color: antiquewhite !important;
}

.greenGuess {
  padding: 0 !important;
  margin: 0 !important;
  outline: 0;
  background-color: #a3e635 !important;
}

.redGuess {
  padding: 0 !important;
  margin: 0 !important;
  outline: 0;
  color: white !important;
  background-color: #ef4444 !important;
}

.answer {
  color: lightgray;
  font-family: "Poppins", sans-serif;
}

/* .ml2 .letter {
  display: inline-block;
  line-height: 1em;
} */

.tile.flip {
  transform: rotateX(90deg);
}

.block {
  /* background-color: #34d399; */
  color: white;
}

.smalltext {
  padding-top: 5px;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.8);
}

#clockdiv {
  background-color: #1b2430 !important;
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 0.8rem;
}

#clockdiv div > span {
  padding: 5px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.8);
}

#countdowndiv {
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 0.8rem;
}

#countdowndiv div > span {
  padding: 5px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.8);
}

/* username colour classes */

.seagreen {
  color: seagreen !important;
}

.blue {
  color: blue !important;
}

.coral {
  color: coral !important;
}

.dodgerblue {
  color: dodgerblue !important;
}

.springgreen {
  color: springgreen !important;
}

.yellowgreen {
  color: yellowgreen !important;
}

.green {
  color: green !important;
}

.orangered {
  color: orangered !important;
}

.red {
  color: red !important;
}

.goldenrod {
  color: goldenrod !important;
}

.hotpink {
  color: hotpink !important;
}

.cadetblue {
  color: cadetblue !important;
}

.chocolate {
  color: chocolate !important;
}

.blueviolet {
  color: blueviolet !important;
}

.firebrick {
  color: firebrick !important;
}
